<a href="https://colab.research.google.com/github/nyoons/ESAA/blob/main/2022_10_10_%EA%B3%BC%EC%A0%9C_%EB%91%90%EC%9E%87_%ED%8C%90%EB%8B%A4%EC%8A%A4_%EC%9E%85%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

두잇 판다스 입문

#12. 시계열 데이터

##12-1. datetime 오브젝트
datetime 라이브러리는 날짜와 시간을 처리하는 등 다양한 기능을 제공.

>datetime 오브젝트 사용하기

In [1]:
#01. datetime 오브젝트를 사용하기 위해 datetime 라이브러리를 불러온다.
from datetime import datetime

#02. now, today 메서드를 사용하면 현재 시간을 출력.
now1=datetime.now()
print(now1)

now2=datetime.today()
print(now2)

2022-10-09 14:53:28.553785
2022-10-09 14:53:28.557645

In [2]:
#03. datetime 오브젝트를 생성할 때 시간을 직접 입력하여 인자로 전달한 것. 각 변수를 출력하여 확인하면 입력한 시간을 바탕으로 datetime 오브젝트가 생성된 것을 알 수 있다.
t1=datetime.now()
t2=datetime(1970, 1,1)
t3=datetime(1970, 12, 12, 13, 24, 34)

print(t1)
print(t2)
print(t3)

2022-10-09 14:55:26.061451
1970-01-01 00:00:00
1970-12-12 13:24:34

In [4]:
#04. datetime 오브젝트를 사용하는 이유 중 하나는 시간 계산을 할 수 있다는 것.
diff1=t1-t2
print(diff1)
print(type(diff1))

diff2=t2-t1
print(diff2)
print(type(diff2))

19274 days, 14:55:26.061451
<class 'datetime.timedelta'>
-19275 days, 9:04:33.938549
<class 'datetime.timedelta'>

>테슬라 주식 데이터로 시간 계산하기
<br/>pandas-datareader 라이브러리를 이용해 주식 데이터를 불러오자.

In [5]:
pip install pandas-datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.9.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2022.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)

In [6]:
import pandas as pd

In [16]:
#01. get_data_quanal 메서드에 TSLA 문자열을 전달해 테슬라의 주식 데이터를 내려받고 to_csv 메서드로 data 폴더 안에 'tesla_stock_quandl.csv'라는이름으로 저장하자.
pd.core.common.is_list=like=pd.api.types.is_list_like
import pandas_datareader as pdr

#tesla에는 데이터 프레임이 저장된다.
tesla=pdr.get_data_quandl('TSLA', api_key='o6f5tg6um2fUbqvK4ANu')

#tesla에 저장된 데이터 프레임을 파일로 저장합니다.
tesla.to_csv('C:\temp\tesla_stock_quandl.csv')

In [19]:
#02. tesla 데이터 프레임의 Date 열은 문자열. datetime 오브젝트로 자료형을 변환해야 시간 계산이 가능하다.
print(tesla.head())

              Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

In [21]:
#03. Date 열을 Datetime 형으로 변환하려면 read_csv 메서드로 데이터 집합을 불러올 때 parse_dates 인자에 Date 열을 전달한다.
tesla=pd.read_csv('C:\temp\tesla_stock_quandl.csv', parse_dates=[0])
print(tesla.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        115 non-null    datetime64[ns]
 1   Open        115 non-null    float64
 2   High        115 non-null    float64
 3   Low         115 non-null    float64
 4   Close       115 non-null    float64
 5   Volume      115 non-null    float64
 6   ExDividend  115 non-null    float64
 7   SplitRatio  115 non-null    float64
 8   AdjOpen     115 non-null    float64
 9   AdjHigh     115 non-null    float64
 10  AdjLow      115 non-null    float64
 11  AdjClose    115 non-null    float64
 12  AdjVolume   115 non-null    float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 11.8 KB
None

In [22]:
#04. Date 열의 자료형이 datetime 오브젝트로 변환되엇다. 이제 dt접근자를 사용할 수 있다. 불린 추출로 2010년 6월의 데이터만 추출하자.
print(tesla.loc[(tesla.Date.dt.year==2010)&(tesla.Date.dt.month==6)])

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume, ExDividend, SplitRatio, AdjOpen, AdjHigh, AdjLow, AdjClose, AdjVolume]
Index: []

>datetime 오브젝트와 인덱스 - DatetimeIndex

지금까지는 행 번호를 인덱스로 사용했지만 datetime 오브젝트를 데이터 프레임의 인덱스로 설정하면 원하는 시간의 데이터를바로 추출할 수 있다.

In [23]:
#datetime 오브젝트를 인덱스로 설정해 데이터 추출하기

#01. Date 열을 tesla 데이터 프레임의 인덱스로 지정하자.
tesla.index=tesla['Date']
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2017-10-23', '2017-10-20', '2017-10-19', '2017-10-18',
               '2017-10-17', '2017-10-16', '2017-10-13', '2017-10-12',
               '2017-10-11', '2017-10-10'],
              dtype='datetime64[ns]', name='Date', length=115, freq=None)

In [24]:
#02. datetime 오브젝트를 인덱스로 지정하면 다음과 같은 방법으로 원하는 시간의 데이터를 바로 추출 가능. 2017년의 데이터를 추출하자.
print(tesla['2017'].iloc[:5, :5])

                 Date    Open      High     Low   Close
Date
2017-12-29 2017-12-29  316.18  316.4100  310.00  311.35
2017-12-28 2017-12-28  311.75  315.8200  309.54  315.36
2017-12-27 2017-12-27  316.00  317.6800  310.75  311.64
2017-12-26 2017-12-26  323.83  323.9400  316.58  317.29
2017-12-22 2017-12-22  329.51  330.9214  324.82  325.20

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.

In [25]:
#03. 2017년 11월의 데이터를 추출하자
print(tesla['2017-11'].iloc[:, :5])

                 Date    Open      High     Low   Close
Date
2017-11-30 2017-11-30  308.56  310.7000  304.54  308.85
2017-11-29 2017-11-29  317.30  318.0000  301.23  307.54
2017-11-28 2017-11-28  316.36  320.0000  313.92  317.55
2017-11-27 2017-11-27  313.25  317.3400  309.51  316.81
2017-11-24 2017-11-24  313.79  316.4100  311.00  315.55
2017-11-22 2017-11-22  316.77  317.4200  311.84  312.60
2017-11-21 2017-11-21  310.86  318.2300  308.71  317.81
2017-11-20 2017-11-20  313.79  315.5000  304.75  308.74
2017-11-17 2017-11-17  325.67  326.6700  313.15  315.05
2017-11-16 2017-11-16  313.99  318.1400  311.30  312.50
2017-11-15 2017-11-15  306.01  312.4900  301.50  311.30
2017-11-14 2017-11-14  315.00  316.3500  306.90  308.70
2017-11-13 2017-11-13  300.13  316.8000  299.11  315.40
2017-11-10 2017-11-10  302.50  308.3600  301.85  302.99
2017-11-09 2017-11-09  302.50  304.4600  296.30  302.99
2017-11-07 2017-11-07  301.02  306.5000  300.03  306.05
2017-11-06 2017-11-06  307.00  307.5000  299.01  302.78
2017-11-03 2017-11-03  299.50  306.2500  295.13  306.09
2017-11-02 2017-11-02  300.13  308.6900  292.63  299.26
2017-11-01 2017-11-01  332.25  332.6089  320.26  321.08

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.

>시간 간격과 인덱스 - TimedeltaIndex

주식 데이터에서 최초 5일간 수집된 데이터만 살펴보고 싶다면? 시간 간격을 인덱스로 지정하여 추출. datetime 오브젝트가 아닌 시간 간격을 인덱스로 지정하여 진행하자.

In [26]:
#시간 간격을 인덱스로 지정해 데이터 추출하기

#01. Date 열에서 Date 열의 최솟값을 빼면 데이터를 수집한 이후에 시간이 얼마나 지났는지 알 수 있다. Date 열에서 Date 열의 최솟값을 뺀 다음 ref_date 열로 추가.
tesla['ref_date']=tesla['Date']-tesla['Date'].min()
print(tesla.head())

                 Date    Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume  \
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

           ref_date
Date
2018-03-27 168 days
2018-03-26 167 days
2018-03-23 164 days
2018-03-22 163 days
2018-03-21 162 days

In [27]:
#02. ref_date 열을 인덱스로 지정. 이제 시간 간격을 이용해 데이터 추출 가능.
tesla.index=tesla['ref_date']
print(tesla.iloc[:5, :5])

               Date    Open    High     Low   Close
ref_date
168 days 2018-03-27  304.00  304.27  277.18  279.18
167 days 2018-03-26  307.34  307.59  291.36  304.18
164 days 2018-03-23  311.25  311.61  300.45  301.54
163 days 2018-03-22  313.89  318.82  308.18  309.10
162 days 2018-03-21  310.25  322.44  310.19  316.53

In [28]:
#03. 데이터 수집한 이후 최초 5일의 데이터를 추출하자.
print(tesla['5 days':].iloc[:5, :5])

               Date    Open    High       Low   Close
ref_date
3 days   2017-10-13  356.98  358.49  353.6800  355.57
2 days   2017-10-12  352.95  359.78  352.6400  355.68
1 days   2017-10-11  353.89  357.60  351.1500  354.60
0 days   2017-10-10  346.80  355.63  345.5305  355.59

>시간 범위와 인덱스

앞에서 사용한 데이터는 특정 일에 누락된 데이터가 없었다. 하지만 누락된 데이터가 있어서 특정 일에 누락된 데이터도 포함시켜 살펴보려면? 임의로 시간 범위를 생성해 인덱스로 지정해야한다.

In [ ]:
#시간 범위 생성해 인덱스로 지정하기

#01. 에볼라 데이터 집합을 사용. 가장 앞쪽의 데이터를 살펴보면 2015년 01월 01일의 데이터가 누락됨. -> 일부 셀이 NaN으로 기록되어 있음
#에볼라 데이터 없으므로 일단 공부하며 코드만 기록
ebola=pd.read_csv('../data/country_timeseries.csv', parse_dates=[0])
print(ebola.iloc[:5, :5])

In [ ]:
#02. 뒤쪽의 데이터도 마찬가지로 2014년 03월 23일의 데이터가 누락됨.
print(ebola.iloc[-5:, :5])

In [ ]:
#03. date_range 메서드를 사용하여 2014년 12월 31일부터 2015년 01월 05일 사이의 시간 인덱스를 생성.
head_range=pd.date_range(start='2014-12-31', end='2015-01-05')
print(head_range)

In [ ]:
#04. 원본 데이터를 손상하지 않기 위해 ebola 데이터 프레임의 앞 5개 데이터를 추출해 새로 데이터프레임을 만들자.
#Date 열을 인덱스로 먼저 지정하지 않으면 오류 발생하므로 반드시 Date 열을 인덱스로 지정한 다음 #03. 에서 생성한 시간 범위를 인덱스로 지정.
ebola_5=ebola.head()
ebola_5.index=ebola_5['Date']
ebola_5.reindex(head_range)
print(ebola_5.iloc[:5, :5])

* 참고
시간 범위를 인덱스로 지정하면 DatetimeIndex 자료형이 만들어진다. 여기엔 freq 속성이 포함. freq 속성값을 지정하면 시간 간격을 조절하여 DatetimeIndex를 만들수 있다. freq 속성값으로 사용할 수 있는 시간 주기는 다음과 같다.
<br/>**B** 평일만 / **C** 사용자가 정의한 평일만
<br/>**D** 달력 일자 단위
<br/>**W** 주간 단위
<br/>**M** 월 마지막 날만 포함
<br/>**SM** 15일과 월 마지막 날만 포함
<br/>**BM** M 주기의 값이 휴일이면 제외하고 평일만 포함 / **CBM** BM에 사용자 정의 평일을 적용
<br/>MS 월 시작일만 포함
<br/>SMS 월 시작일과 15일만 포함
<br/>BMS MS 주기의 값이 휴일이면 제외하고 평일만 포함 / CBMS BMS에 사용자 정의 평일 적용
<br/>Q 3,6,9,12월 분기 마지막 말만 포함
<br/>BQ 분기 마지막 날이 휴일이면 제외하고 평일만 포함
<br/>QS 분기 시자일만 포함
<br/>BQS 분기 시작일이 휴일이면 제외하고 평일만 포함
<br/>A 년의 마지막 날만 포함
<br/>BA 년의 마지막 날이 휴일이면 제외하고 평일만 포함
<br/>AS 년의 시작일만포함
<br/>BAS 년의 시작일이 휴일이면 제외하고 평일만 포함
<br/>BH 평일을 시간 단위로 포함(9시부터 16시까지)
<br/>H 시간 단위로 포함
<br/>T 분 단위 포함
<br/>S 초 단위 포함
<br/>L 밀리초 단위 포함

In [ ]:
#예를 들어 B를 설정하려면 이렇게 함
print(pd.date_Range('2017-01-01', '2017-01-07', freq='B'))