<a href="https://colab.research.google.com/github/nyoons/ESAA/blob/main/%EC%8A%A4%ED%84%B0%EB%94%94_2%EC%B0%A8_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#반복문 (<혼자 공부하는 파이썬> 참고)

##리스트와 반복문

In [ ]:
range(100)

range(0, 100)

In [ ]:
for i in range(10):
  print('출력')

출력
출력
출력
출력
출력
출력
출력
출력
출력
출력

In [ ]:
#리스트를 선언
array=[273, 32, 103, 57, 52]

#리스트에 반복문 적용
for element in array:
  print(element)

273
32
103
57
52

- 2차원 리스트도 보자

In [ ]:
list_of_list=[
    [1,2,3],
    [4,5,6,7],
    [8,9]
]

In [ ]:
for items in list_of_list:
  print(items)

[1, 2, 3]
[4, 5, 6, 7]
[8, 9]

In [ ]:
for items in list_of_list:
  for item in items:
    print(items)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[4, 5, 6, 7]
[4, 5, 6, 7]
[4, 5, 6, 7]
[4, 5, 6, 7]
[8, 9]
[8, 9]

- 연습문제

In [ ]:
# 1. 100이상의 숫자만 출력해보기

numbers = [273, 103, 5, 32, 65, 9,72, 800, 99]

for number in numbers:
  if number>=100:
    print("- 100 이상의 수", number)

- 100 이상의 수 273
- 100 이상의 수 103
- 100 이상의 수 800

In [ ]:
# 2. 다음 빈칸을 채워서 실행 결과에 맞는 프로그램 완성하기
for number in numbers:
  if number%2==0:
    print(number, "는 짝수입니다.")
  else:
    print(number, "는 홀수입니다.")

273 는 홀수입니다.
103 는 홀수입니다.
5 는 홀수입니다.
32 는 짝수입니다.
65 는 홀수입니다.
9 는 홀수입니다.
72 는 짝수입니다.
800 는 짝수입니다.
99 는 홀수입니다.

In [ ]:
for number in numbers:
    l=len(str(number))    #str로 바꿔주기
    print(number, "는", l, "자릿수입니다.")

273 는 3 자릿수입니다.
103 는 3 자릿수입니다.
5 는 1 자릿수입니다.
32 는 2 자릿수입니다.
65 는 2 자릿수입니다.
9 는 1 자릿수입니다.
72 는 2 자릿수입니다.
800 는 3 자릿수입니다.
99 는 2 자릿수입니다.

In [ ]:
# 3. 빈칸 채우기
numbers=[1,2,3,4,5,6,7,8,9]
output=[[],[],[]]

for number in numbers:
  output[(number+2)%3].append(number)

print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
# 4. 빈칸 채우기
numbers=[1,2,3,4,5,6,7,8,9]

for i in range(0, len(numbers)//2):
  #j가 1,3,5,7이 나오려면
  j=i*2+1
  print(f"i={i}, j={j}")
  numbers[j]=numbers[j]**2

print(numbers)

i=0, j=1
i=1, j=3
i=2, j=5
i=3, j=7
[1, 4, 3, 16, 5, 36, 7, 64, 9]

##딕셔너리와 반복문

In [ ]:
#딕셔너리 선언
dictionary={
    'name': '7D 건조 망고',
    'type': '당절임',
    'ingredient': ['망고', '설탕', '메타중아황산나트륨', '치자황색소'],
    'origin': '필리핀'
}

#for 반복문 사용
for key in dictionary:
  print(key, ":", dictionary[key])

name : 7D 건조 망고
type : 당절임
ingredient : ['망고', '설탕', '메타중아황산나트륨', '치자황색소']
origin : 필리핀

- 연습문제

In [ ]:
# 1. 반복문과 print() 조합하기
#딕셔너리 선언
pets=[
    {"name":"구름", 'age':5},
    {"name":"초코", 'age':3},
    {"name":"아지", 'age':1},
    {"name":"호랑이", 'age':1},
]

print('애완 동물들')
for pet in pets:
  print(pet['name'], str(pet['age'])+'살')

애완 동물들
구름 5살
초코 3살
아지 1살
호랑이 1살

In [ ]:
# 2. 몇 번 등장하는지 출력하는 코드 작성
numbers=[1,2,6,8,4,3,2,1,9,5,4,9,7,2,1,3,5,4,8,9,7,2,3]
counter={}

for number in numbers:
  if number in counter:
    counter[number]=counter[number]+1
  else:
    counter[number]=1

print(counter)

{1: 3, 2: 4, 6: 1, 8: 2, 4: 3, 3: 3, 9: 3, 5: 2, 7: 2}

In [ ]:
# 3. 빈칸 채우기
character={
    'name':'기사',
    'level':12,
    'items':{
        'sword':'불꽃의 검',
        'armor':'풀플레이트'
    },
    'skill':['베기', '세게 베기', '아주 세게 베기']
}

#for 반복문 사용
for key in character:
  if type(character[key]) is dict:
    for small_key in character[key]:
      print(small_key, ":", character[key][small_key])
  elif type(character[key]) is list:
    for item in character[key]:
      print(key, ":", item)
  else:
    print(key, ":", character[key])

name : 기사
level : 12
sword : 불꽃의 검
armor : 풀플레이트
skill : 베기
skill : 세게 베기
skill : 아주 세게 베기

##범위 자료형과 while 반복문

###for 반복문: 리스트와 범위 조합하기

In [ ]:
#리스트 선언
array=[273, 32, 103, 57, 52]
#리스트에 반복문 적용
for i in range(len(array)):
  print("{}번째 반복: {}".format(i, array[i]))

0번째 반복: 273
1번째 반복: 32
2번째 반복: 103
3번째 반복: 57
4번째 반복: 52

###중첩 반복문으로 피라미드 만들기

In [ ]:
output=""

for i in range(1,10):
  for j in range(0,i):
    output+="*"
  output+="\n"

print(output)

*
**
***
****
*****
******
*******
********
*********

In [ ]:
output=""

for i in range(1,15):
  for j in range(14,i,-1):
    output+=' '
  for k in range(0,2*i-1):
    output+="*"
  output+='\n'

print(output)

             *
            ***
           *****
          *******
         *********
        ***********
       *************
      ***************
     *****************
    *******************
   *********************
  ***********************
 *************************
***************************

In [ ]:
output=""

for i in range(1,10):
  output+=("*"*i)
  output+=('\n')

print(output)

*
**
***
****
*****
******
*******
********
*********

###while 반복문

In [ ]:
#기본형태
while True:
  #"."를 출력하자
  #기본적으로 end가 \n이라 줄바꿈이 일어나지만 빈 문자열""로 바꿔서 줄바꿈이 일어나지 않게 하자.
  print(".", end="")

- 이 코드는 멈추지 않고 계속 진행될 것임.

###while 반복문: for 반복문처럼 사용하기

In [ ]:
#반복 변수를 기반으로 반복하기
i=0
while i<10:
  print('{}번째 반복입니다.'.format(i))
  i+=1

0번째 반복입니다.
1번째 반복입니다.
2번째 반복입니다.
3번째 반복입니다.
4번째 반복입니다.
5번째 반복입니다.
6번째 반복입니다.
7번째 반복입니다.
8번째 반복입니다.
9번째 반복입니다.

###while 반복문: 상태/시간을 기반으로 반복하기

In [ ]:
#변수를 선언
list_test=[1,2,1,2]
value=2

#list_test 내부에 value가 있다면 반복
while value in list_test:
  list_test.remove(value)

print(list_test)

[1, 1]

In [ ]:
 import time
 time.time()

1675960320.636709

In [ ]:
#3초동안 반복해보자

#변수 선언
number=0

 #3초동안 반복
target_tick=time.time()+3
while time.time()<target_tick:
   number+=1

print("3초 동안 {}번 반복했습니다.".format(number))

3초 동안 15714054번 반복했습니다.

###while 반복문: break 키워드/continue 키워드

In [ ]:
#break

#변수 선언
i=0

while True:
  print('{}번째 반복입니다.'.format(i))
  i=i+1
  #반복 종료
  input_text=input(">종료하시겠습니까? (y/n): ")
  if input_text in ['y', 'Y']:
    print('반복 중단')
    break

0번째 반복입니다.
>종료하시겠습니까? (y/n): n
1번째 반복입니다.
>종료하시겠습니까? (y/n): n
2번째 반복입니다.
>종료하시겠습니까? (y/n): n
3번째 반복입니다.
>종료하시겠습니까? (y/n): y
반복 중단

In [ ]:
#continue

#변수 선언
numbers=[5,15,6,20,7,25]

#반복하기
for number in numbers:
  if number<10:
    continue
  print(number)

15
20
25

- 연습문제

In [ ]:
# 1. 리스트를 조합해 딕셔너리로 만들어보자
key_list=['name', 'hp', 'mp', 'level']
value_list=['기사', 200, 30, 5]
character={}

for i in range(0, len(key_list)):
  character[key_list[i]]=value_list[i]
  
#나의 오답
#for key in key_list:
#  for value in value_list:
#    character[key]=value

print(character)

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

In [ ]:
# 2. 1부터 숫자를 하나씩 증가시키며 더하는 경우를 생각하자. 몇을 더할 때 1000을 넘는지 구해보자.
limit=1000
i=1

sum_value=0
while sum_value<limit:
  sum_value+=i
  i+=1

print("{}를 더할 때 {}를 넘으며 그때 값은 {}이다.".format(i-1, limit, sum_value))

45를 더할 때 1000를 넘으며 그때 값은 1035이다.

In [ ]:
# 3. 1부터 100까지의 숫자가 있다. 1*99, 2*98 3*97 ... 을 계산할 때 최대가 되는 경우는 어떤 숫자를 곱했을 때인지 찾자.
max_value=0
a=0
b=0

for i in range(1, 100//2+1):
  j=100-i

  current=i*j
  if max_value<current:
    a=i
    b=j
    max_value=current

print('최대가 되는 경우: {} * {} = {}'.format(a, b, max_value))

최대가 되는 경우: 50 * 50 = 2500

###enumerate() 함수와 반복문 조합하기
enumerate() : 현재 인덱스가 몇 번째인지 확인하기

In [ ]:
example_list=["요소A", "요소B", "요소C"]

0번째 요소는 요소A입니다

1번째 요소는 요소B입니다

2번째 요소는 요소C입니다

를 만들고 싶다면?

In [ ]:
i=0

for item in example_list:
  print("{}번째 요소는 {}입니다".format(i, item))
  i+=1

0번째 요소는 요소A입니다
1번째 요소는 요소B입니다
2번째 요소는 요소C입니다

In [ ]:
for i in range(len(example_list)):
  print("{}번째 요소는 {}입니다".format(i, example_list[i]))

0번째 요소는 요소A입니다
1번째 요소는 요소B입니다
2번째 요소는 요소C입니다

이렇게 현재 인덱스가 몇 번째인지 확인해야 하는 경우, enumerate() 이용.

In [ ]:
print(enumerate(example_list))

<enumerate object at 0x7f7e6730fc00>

In [ ]:
print('list() 함수로 변환해 출력하면')
print(list(enumerate(example_list)))

list() 함수로 변환해 출력하면
[(0, '요소A'), (1, '요소B'), (2, '요소C')]

In [ ]:
print('반복문과 조합하면')
for i, value in enumerate(example_list):
  print('{}번째 요소는 {}입니다'.format(i, value))

반복문과 조합하면
0번째 요소는 요소A입니다
1번째 요소는 요소B입니다
2번째 요소는 요소C입니다

###리스트 내포 (반복문 사용해 리스트 재조합)

In [ ]:
array=[]

for i in range(0,20,2):
  array.append(i*i)

print(array)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [ ]:
#같은 결과 내는
array=[i*i for i in range(0,20,2)]
print(array)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [ ]:
array=['사과', '자두', '초콜릿', '바나나', '체리']
output=[fruit for fruit in array if fruit!='초콜릿']
print(output)

['사과', '자두', '바나나', '체리']

- 연습문제

In [ ]:
# 1. 진수 변환 코드 이용해 1~100 사이의 숫자 중 2진수로 변환했을 때 0이 하나만 포함된 숫자를 찾고, 그 숫자들의 합을 구하는 코드를 만들어보자.
output=[i for i in range(1, 101) if "{:b}".format(i).count("0")==1]

for i in output:
  print("{} : {}".format(i, "{:b}".format(i)))
print('합계:', sum(output))

2 : 10
5 : 101
6 : 110
11 : 1011
13 : 1101
14 : 1110
23 : 10111
27 : 11011
29 : 11101
30 : 11110
47 : 101111
55 : 110111
59 : 111011
61 : 111101
62 : 111110
95 : 1011111
합계: 539

- 도전문제

In [2]:
# 1. 숫자의 종류
# 다음 리스트에서 몇 가지 종류의 숫자가 사용되었는지 구하는 프로그램을 만들어 보세요. 1, 2, 3, 4가 사용되었으므로 4개가 사용되었다고 출력하면 된다.
# [1,2,3,4,1,2,3,1,4,1,2,3]

num=[1,2,3,4,1,2,3,1,4,1,2,3]
dic={}

for i in num:
  if i in dic:
    dic[i]+=1
  else:
    dic[i]=1

dic

{1: 4, 2: 3, 3: 3, 4: 2}

In [6]:
print('[1,2,3,4,1,2,3,1,4,1,2,3]에서\n사용된 숫자의 종류는 {}개입니다.'.format(len(dic)))

[1,2,3,4,1,2,3,1,4,1,2,3]에서
사용된 숫자의 종류는 4개입니다.

In [7]:
# 2. 염기의 개수
# 염기서열을 입력했을 때 각각의 염기가 몇 개 포함되어 있는지 세는 프로그램을 구현해보세요.
# ctacaatgtcagtatacccattgcattagccgg

nucleos=input('염기 서열을 입력해주세요:')
counter={
    "a":0,
    "t":0,
    "c":0,
    "g":0
}

for nucleo in nucleos:
  counter[nucleo]+=1

for key in counter:
  print(f'{key}의 개수: {counter[key]}')

염기 서열을 입력해주세요:ctacaatgtcagtatacccattgcattagccgg
a의 개수: 9
t의 개수: 9
c의 개수: 9
g의 개수: 6

###람다

In [8]:
# 우선 map()과 filter() 함수를 보자

#함수를 선언
def power(item):
  return item*item
def under_3(item):
  return item<3

#변수 선언
list_input_a=[1,2,3,4,5]

#map() 함수 사용
output_a=map(power, list_input_a)
print('#map() 함수 실행 결과')
print('map(power, list_input_a):', output_a)
print('map(power, list_input_a):', list(output_a))

#map() 함수 실행 결과
map(power, list_input_a): <map object at 0x7f5c33cebc70>
map(power, list_input_a): [1, 4, 9, 16, 25]

In [9]:
#filter() 함수 사용
output_b=filter(under_3, list_input_a)
print('#filter() 함수 실행 결과')
print('filter(under_3, list_input_a):', output_b)
print('filter(under_3, list_input_a):', list(output_b))

#filter() 함수 실행 결과
filter(under_3, list_input_a): <filter object at 0x7f5c33ceb850>
filter(under_3, list_input_a): [1, 2]

In [10]:
# 이제 람다를 보자

# 함수 선언
power=lambda x: x*x
under_d=lambda x: x<3

#변수 선언
list_input_a=[1,2,3,4,5]

#map() 함수 사용
output_a=map(power, list_input_a)
print('#map() 함수 실행 결과')
print('map(power, list_input_a):', output_a)
print('map(power, list_input_a):', list(output_a))

#map() 함수 실행 결과
map(power, list_input_a): <map object at 0x7f5c33c07a30>
map(power, list_input_a): [1, 4, 9, 16, 25]

In [11]:
#filter() 함수 사용
output_b=filter(under_3, list_input_a)
print('#filter() 함수 실행 결과')
print('filter(under_3, list_input_a):', output_b)
print('filter(under_3, list_input_a):', list(output_b))

#filter() 함수 실행 결과
filter(under_3, list_input_a): <filter object at 0x7f5c33c07160>
filter(under_3, list_input_a): [1, 2]

- 생각보다 복잡한데. 코드를 변경해보자.
- 사실 람다는 함수의 매개변수에 곧바로 넣을 수 있다

In [12]:
##변수 선언
list_input_a=[1,2,3,4,5]

#map() 함수 사용
output_a=map(lambda x:x*x, list_input_a) #이렇게 이 자리에 바로 넣기 가능
print('#map() 함수 실행 결과')
print('map(power, list_input_a):', output_a)
print('map(power, list_input_a):', list(output_a))

#map() 함수 실행 결과
map(power, list_input_a): <map object at 0x7f5c33c07970>
map(power, list_input_a): [1, 4, 9, 16, 25]

In [13]:
#filter() 함수 사용
output_b=filter(lambda x: x<3, list_input_a) #여기도 바로 넣기 가능
print('#filter() 함수 실행 결과')
print('filter(under_3, list_input_a):', output_b)
print('filter(under_3, list_input_a):', list(output_b))

#filter() 함수 실행 결과
filter(under_3, list_input_a): <filter object at 0x7f5c5c065d90>
filter(under_3, list_input_a): [1, 2]